*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 인트로 영상 */
body {
  /* overflow: hidden; */
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1; /* 초기 불투명도 */
  transition: opacity 1s ease; /* 페이드 아웃 효과 */
}

#closeButton {
  position: absolute;
  top: 10px; 
  right: 10px;
  background: none;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
}

.bg-video.hidden {
  opacity: 0; /* 숨길 때 불투명도를 0으로 설정 */
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#greeting {
  text-align: center;
  opacity: 0; /* 초기 불투명도 0 (숨김) */
  transition: opacity 1s ease; /* 부드러운 전환 효과 */
  display: none;
}
#greeting.visible {
  opacity: 1; /* 보이게 할 때 불투명도를 1로 설정 */
}

/* 메뉴 */
.header{
  width: 1240px;
  padding: 0 20px;
  /* background-color: #eee; */
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
  margin: 0 auto;
  height: 100px;
  position: relative;
}
a{
  text-decoration: none;
}
.menu  a:hover{
  color: #5778ff;
  
}
.mainmenu > li{
  list-style: none;
  display: inline-block;
  padding: 40px 60px;
}
.mainmenu > li > a{
  position: relative;
}
.submenu{
  display: none;
  position: absolute;
  top: 100px;
  margin-top: 20px;
}
.submenu > li{
  list-style: none;
  margin-left: -27px;
  padding: 10px 0;
}

