.w {
  width: 300px; /* 사각형의 너비 */
  height: 200px; /* 사각형의 높이 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  margin: 10px; /* 사각형 간의 간격 */
  padding: 15px; /* 내부 여백 증가 */
  display: inline-block; /* 사각형을 가로로 나열 */
  vertical-align: top; /* 정렬 방식 */
  background-color: #4B89DC; /* 박스 색상 변경 */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}
main h1 {
  margin: 42.5px 0;
  color: #4b89dc; /* h1 색상 */
  padding: 0px 0px 50px;
  font-size: 70px;
}
main p {
  margin: 21.67px 0;
  padding: 1%;
  font-size: 20px;
}
main h2{
  font-size: 50px;
  color: #4b89dc; /* h1 색상 */
}